.search {
    display: flex;
    align-items: center;
    background: #313540;
    border-radius: 8px;
    padding-left: 8px;
    max-width: 300px;
}

.search-bar {
    padding: 8px 10px;
    gap: 10px;
    width: 310px;
    height: 43px;
    background: #313540;
    outline: none;
    border: none;
    border-radius: 8px;
    width: 100%;
    color: #8D8C92;
    font-size: 18px;
}

.search-bar::placeholder {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #8D8C92;
}

.search-icon {
    font-size: 28px;
    color: #8D8C92;
}